<h1>Welcome to our instructor annoucements page! Please fill out your annoucement content here!</h1>
<br>

<form method="POST" action="/annoucement-post">
Content:<br>
<input type="text" name="content" value="Your content here...">
<br>
<br><br>
<input type="submit">
</form>