<h1>Welcome to the classnotes page! Create your classnote here!</h1>
<form method="POST" action="/classnotes-post"></form>
Content:<br>
<input type="text" name="content" value="Your content here...">
<br>
<br><br>
<input type="submit">
</form>