<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Beginning of something great?!</h1>
    <p class="lead">This is a placeholder</p>
  </div>
  <br><br>
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Edit Options
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a href="./edit-announcements" class="dropdown-item" >Create New Announcement</a>
    <a href="./edit-classnotes" class="dropdown-item" >Create New Classnote</a>
  </div>

</div>
  <div class="announce-box">
  {{title}}
  {{notes}}
  </div>

  