<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Edify</h1>
    <p class="lead">A live learning management system</p>
  </div>
</div>
  <div class="col-sm-6 text-center">Class Notes
    <br>
    <a href="#">{{title}}
   </a> <br>
   {{notes}}
  </div>
  <div class="col-sm-6 text-center">Announcements
    <br>
    <a href="#">{{title}}
   </a> <br>
   {{content}}
  </div>
