<h1> Hi, welcome to Edify! Please select one of the following!</h1>

<form method="POST" action="/selection">
    <input type="radio" name="user" value="Instructor" checked> Instructor<br>
    <input type="radio" name="user" value="Student"> Student<br>
    <br>
    <input type="submit" value="Submit">
</form>